$blue: #1070CA;
$consoleGrey: #808082;
$greyDark: #1E1E1E;
$greyLight: #212528;
$lightBlue: #DBEAF7;
$link: #4DA8FF;
$linkConsole: #14B5D0;
$midiumGrey: #464A4D;
$skills: #3578E5;
$textDark: #234361;
$text: #425A70;

$tablet: 768px;

$desktop: 960px;