.hero {
  padding: 64px 16px 88px;
  margin-bottom: 92px;
  @media (min-width: $tablet) {
    max-width: 768px;
    margin: 0 auto;
  }

  &__contact {
    background: $link;
    border-radius: 64px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    padding: 4px 24px;
    text-decoration: none;
  }
  &__description {
    text-align: center;
  }
  &__header {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: $textDark;
    @media (min-width: $desktop) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__hello {
    display: none;
  }
  &__image {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 4px solid #f6f9fd;
  }
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    font-weight: bold;
    color: $link;
    text-decoration: none;
  }
  &__paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 48px;
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__special {
    color: $blue;
  }
}
