.skills {
  background-color: $skills;
  color: $lightBlue;
  padding: 64px 16px 8px;
  &__header {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin: 0 0 16px;
  }
}
  .skills{
  &__list {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    width: 264px;
    height: 200px;
    list-style: none;
    padding: 0;
    margin: 0 0 16px;
    &-item{
        padding: 0 0 0 24px;
        margin: 12px 0px;        
        &:before{
            position: absolute;
            left: 0;
            content: '';
            width: 12px;
            height: 9px;
            background: url('../assets/icons/small-tick.svg');
            display: block;
        }
    }
  }
}